<%- include("templates/header") %>

<head>
    <title>Profile</title>
    <!-- Meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Load styles here -->
    <link rel="stylesheet" href="/styles/skeleton.css" />
    <link rel="stylesheet" href="/styles/profile.css" />
</head>
<body>
    <!-- Body Contents -->
    <div class="container">
      <form id="profile-form" action="/save" method="POST"> <!-- Make sure the form encapsulates the entire fields -->
          <fieldset class="mb-3" id="personalInfoFields" disabled>
                <div class="form-group">
                    <label>Username</label>
                    <input
                      type="text"
                      id="usernameInput"
                      class="form-control readonly-input"
                      value="<%= username %>"
                      placeholder="Username"
                      name="username"
                      readonly/>
                </div>
                <div class="form-group">
                  <label>First name</label>
                  <input
                    type="text"
                    id="firstnameInput"
                    class="form-control"
                    value="<%= firstname %>"
                    placeholder="Enter your first name"
                    name="firstname"/>
                </div>
                <div class="form-group">
                    <label>Last name</label>
                    <input
                      type="text"
                      id="lastnameInput"
                      class="form-control"
                      value="<%= lastname %>"
                      placeholder="Enter your last name"
                      name="lastname"/>
                  </div>
                <div class="form-group">
                  <label>Gender</label>
                  <select id="genderInput" class="form-control" name="gender" value="<%= gender %>">
                    <option selected>Choose...</option>
                    <option value="Male" <%= gender === 'Male' ? 'selected' : '' %>>Male</option>
                    <option value="Female" <%= gender === 'Female' ? 'selected' : '' %>>Female</option>
                    <option value="Other" <%= gender === 'Other' ? 'selected' : '' %>>Other</option>
                </select>
                </div>
                <div class="form-group">
                    <label>Age</label>
                    <input 
                    type="number" 
                    id="ageInput" 
                    class="form-control"
                    value="<%= age %>"
                    placeholder="Enter your age"
                    name="age"/>
                  </div>
                  <div class="form-group">
                    <label>Job</label>
                    <input 
                      type="text" 
                      id="jobInput" 
                      class="form-control" 
                      value="<%= job %>"
                      placeholder="Enter your job"
                      name="job"/>
                  </div>
                  <div class="form-group">
                    <label>Email</label>
                    <input 
                    type="email" 
                    id="emailInput" 
                    class="form-control" 
                    value="<%= email %>"
                    placeholder="Enter your email"
                    name="email"/>
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input 
                    type="password" 
                    id="password" 
                    class="form-control" 
                    value="<%= password %>"
                    placeholder="Password"
                    name="password"/>
                  </div>
              </fieldset>
              <div class="d-flex justify-content-end mt-5">
                <button type="button" class="btn btn-secondary btn-edit">
                    Edit
                </button>
                <span style="width: 10px"></span>
                <button type="submit" class="btn btn-info btn-save">
                    Save
                </button>
                <span style="width: 10px"></span>
                <button type="button" class="btn btn-info" onclick="location.href='/logout'">Sign Out</button>
            </div>
        </form>
    </div>

    <!-- Load scripts here -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/scripts/profile.js"></script>

</body>

<%- include("templates/footer") %>



