<%- include("templates/header") %>

<head>
    <title>Profile</title>
    <!-- Meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Load styles here -->
    <link rel="stylesheet" href="/styles/skeleton.css" />
    <link rel="stylesheet" href="/styles/skeleton.css" />
</head>

<body>
    <!-- Body Contents -->
    <div class="container">
        <form>
            <fieldset class="mb-3" id="personalInfoFields" disabled>
<<<<<<< HEAD
                <!-- Personal Info Form -->
                <h1>Welcome <%= user.name %></h1>
                <h2>Your Personal Profile</h2>
                <table>
                    <tr>
                        <td>ID:</td>
                        <td><%= user.id %></td>
                    </tr>
                    <tr>
                        <td>Name:</td>
                        <td><%= user.name %></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><%= user.email %></td>
                    </tr>
                    <tr>
                        <td>Age:</td>
                        <td><%= user.age %></td>
                    </tr>
                    <tr>
                        <td>Sex:</td>
                        <td><%= user.sex %></td>
                    </tr>
                    <tr>
                        <td>Job:</td>
                        <td><%= user.job %></td>
                    </tr>
                    <tr>
                        <td>City:</td>
                        <td><%= user.city %></td>
                    </tr>
                    <tr>
                        <td>Phone Number:</td>
                        <td><%= user.phone %></td>
                    </tr>
                </table>
            </fieldset>
=======
                <div class="form-group">
                    <label>Username</label>
                    <input
                      type="text"
                      id="usernameInput"
                      class="form-control"
                      value="<%= username %>"
                      placeholder="Username"/>
                </div>
                <div class="form-group">
                  <label>First name</label>
                  <input
                    type="text"
                    id="nameInput"
                    class="form-control"
                    value="<%= firstname %>"
                    placeholder="Enter your first name"/>
                </div>
                <div class="form-group">
                    <label>Last name</label>
                    <input
                      type="text"
                      id="nameInput"
                      class="form-control"
                      value="<%= lastname %>"
                      placeholder="Enter your last name"/>
                  </div>
                <div class="form-group">
                  <label>Gender</label>
                  <input 
                  type="gender" 
                  id="genderInput" 
                  class="form-control" 
                  placeholder="Check your gender"/>
                </div>
                <div class="form-group">
                    <label>Age</label>
                    <input 
                    type="age" 
                    id="ageInput" 
                    class="form-control" 
                    placeholder="Enter your age"/>
                  </div>
                  <div class="form-group">
                    <label>Job</label>
                    <input 
                    type="job" 
                    id="jobInput" 
                    class="form-control" 
                    placeholder="Enter your job"/>
                  </div>
                  <div class="form-group">
                    <label>Email</label>
                    <input 
                    type="email" 
                    id="emailInput" 
                    class="form-control" 
                    value="<%= email %>"
                    placeholder="Enter your email"/>
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input 
                    type="string" 
                    id="password" 
                    class="form-control" 
                    value="<%= password %>"
                    placeholder="Password"/>
                  </div>
              </fieldset>
>>>>>>> e49ecf7874e4c92deb66de91e07e042b6f3878e3
            <div class="d-flex justify-content-end mt-5">
                <button type="button" class="btn btn-secondary" onclick="editUserInfo()">
                    Edit
                </button>
                <span style="width: 10px"></span>
                <button type="button" class="btn btn-info" onclick="saveUserInfo()">
                    Save
                </button>
                <span style="width: 10px"></span>
                <button type="button" class="btn btn-info" onclick="location.href='/logout'">Sign Out</button>
            </div>
        </form>
    </div>
    
    <!-- Load scripts here -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/scripts/skeleton.js"></script>
</body>

<%- include("templates/footer") %>

